
{% extends 'pwn/welcome.html' %}

{% block admin_welcome %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'mycss/style.css' %}">
    <div class="col-sm-6">
          <h1>Add State</h1>
        <br>

        <form action="{% url 'saveState' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <input type="text" name="state" id="state" class="form-control" placeholder="State Name" value="{{ state }}">
                </div>
                <div class="col">
                    <div class="custom-file">
                    <input type="file" name="photo" class="custom-file-input" value="{{ photo }}" id="photo" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">{% if photo %}{{ photo.name }}{% else %}Choose Image{% endif %}</label>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-success">Add</button>
                    <input type="hidden" name="upd_idno" value="{{ idno }}">
            </div>
        </form>
    {% if error %}
        <span style="font-size: 30px;color: red">{{ error }}</span>
    {% endif %}
    {% if success %}
        <span style="font-size: 30px;color: green">{{ success }}</span>
    {% endif %}
    {% for mess in messages %}
        <span style="font-size: 30px;color: green">{{ mess }}</span>
    {% endfor %}


 <br>
    {% if state_data %}

        <table align="center" border="5" style="min-width: 500px">
        <tr><th class="tbl_ttl" colspan="5">States</th></tr>
            <tr>
                <th class="tbl_th">Id</th>
                <th class="tbl_th">Name</th>
                <th class="tbl_th">Image</th>
                <th class="tbl_th">Update</th>
                <th class="tbl_th">Delete</th>
            </tr>
            {% for data in state_data %}
            <tr>
                <th class="tbl_td">{{ data.id }}</th>
                <th class="tbl_td">{{ data.name }}</th>
                <th class="tbl_td"><img src="{{ data.photo.url }}" height="80" width="80"></th>
                <th class="tbl_td"><a href="{% url 'updateState' %}?idno={{ data.id }}"><button class="btn btn-primary">Update</button></a></th>
                <th class="tbl_td">
{#                    <a href="{% url 'deleteState' %}?idno={{ data.id }}"><button>Delete</button></a>#}


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#st{{ data.id }}">
                        Delete
                    </button>

<!-- Modal -->
<div class="modal fade" id="st{{ data.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{ data.name }} state ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <a href="{% url 'deleteState' %}?idno={{ data.id }}"><button type="button" class="btn btn-primary">Yes</button></a>
      </div>
    </div>
  </div>
</div>
                </th>
            </tr>
        {% endfor %}
        </table>
        {% else %}
        No Data
    {% endif %}




    </div>

{% endblock %}
